<%- include('../../common/adminheader.ejs') %>
<script type="text/javascript" src="/node_modules/jquery/dist/jquery.js"></script>
<title>회사연혁 수정 페이지 - 테스트용 사이트</title>

<div class="admin_body">
    <div class="admin_content">
        <div class="admin_contentwrap">
            <h1>회사연혁 수정 페이지</h1>
            <form>
                <div class="btn_table">
                    <div class="btn_table_title">
                        <span>연혁내용</span>
                    </div>
                    <div class="btn_table_btn">
                        <a class="page-title-action" href="/admin/history/write">내용추가</a>
                        <a class="page-title-action" id="deleteBtn">내용삭제</a>
                    </div>               
                </div>
                <table class="admin_board">
                    <thead>
                        <tr>
                            <th class="allcheck">
                                <label class="allcheck_column" for="allcheck_column">모두 선택</label>
                                <input class="allcheck_column_input" id="allcheck_column" type="checkbox">
                            </th>
                            <th class="adminboard_head" style="width: 5%;">
                                <span>년도</span>
                            </th>
                            <th class="adminboard_head" style="width: 4%;">
                                <span>월</span>
                            </th>
                            <th class="adminboard_head" style="width: 5%;">
                                <span>순번</span>
                            </th>
                            <th class="adminboard_head" style="width: 14%;">
                                <span>고객사</span>
                            </th>
                            <th class="adminboard_head" style="width: 27%;">
                                <span>프로젝트명</span>
                            </th>
                            <th class="adminboard_head" style="width: 5%;">
                                <span>숨김</span>
                            </th>
                            <th class="adminboard_head" style="width: 10%;">
                                <span>작성자</span>
                            </th>
                            <th class="adminboard_head" style="width: 10%;">
                                <span>작성일</span>
                            </th>
                            <th class="adminboard_head" style="width: 10%;">
                                <span>수정자</span>
                            </th>
                            <th class="adminboard_head" style="width: 10%; border-right: none;">
                                <span>수정일</span>
                            </th> 
                        </tr>
                    </thead>
                    <tbody class="adminboard_body">
                        <!-- 내용 정렬. 연도 내림차순, 월 내림차순, 순번 내림차순 -->
                        <%
                        for(var i = 0; i < historycontents.length; i++) {
                            for(var j = 1 + i; j < historycontents.length; j++) {
                                if(historycontents[i].number < historycontents[j].number) {
                                    var temp = historycontents[j];
                                    historycontents[j] = historycontents[i];
                                    historycontents[i] = temp;
                                }
                                if(historycontents[i].month < historycontents[j].month) {
                                    var temp = historycontents[j];
                                    historycontents[j] = historycontents[i];
                                    historycontents[i] = temp;
                                }
                                if(historycontents[i].year < historycontents[j].year) {
                                    var temp = historycontents[j];
                                    historycontents[j] = historycontents[i];
                                    historycontents[i] = temp;
                                }
                            }
                        }
                        for(var i = 0; i < historycontents.length; i++) {
                            var data = historycontents[i];
                        %>
                        <tr>
                            <th>
                                <label class="screen-reader-text" for="cb<%= i %>"></label>
                                <input id="cb<%= i %>" class="checkbox" type="checkbox" name="deleteCheckbox" value="<%= data.serial %>">    
                            </th>
                            <td>
                                <a href="/admin/history/modify?serial=<%= data.serial %>">
                                    <span><%= data.year %></span>
                                </a>                            
                            </td>
                            <td>
                                <span><%= data.month %></span>
                            </td>
                            <td>
                                <span><%= data.number %></span>
                            </td>
                            <td>
                                <strong>
                                    <a><%= data.customer %></a>
                                </strong>
                            </td>
                            <td>
                                <span><%= data.project %></span>
                            </td>
                            <td>
                                <span><%= data.hiddenYN %></span>
                            </td>
                            <td>
                                <span><%= data.writer %></span>
                            </td>
                            <td>
                                <span><%= data.date %></span>
                            </td>
                            <td>
                                <span><%= data.modifier %></span>
                            </td>
                            <td>
                                <span><%= data.modifydate %></span>
                            </td>  
                        </tr>
                        <% } %>
                    </tbody>
               </table>
            </form>
        </div>
    </div>
</div>
<script>
$(function() {
    $(function init() {    
        var allcheck_column = $('#allcheck_column'); // 전체 선택
        var deleteBtn = $('#deleteBtn'); // 삭제 버튼

        // 전체 선택 클릭 시 컬럼 전체 선택/해제
        allcheck_column.on('click', function() {
            if(allcheck_column.is(":checked")) {
                $("input[name=deleteCheckbox]").prop("checked", true);
            }else {
                $("input[name=deleteCheckbox]").prop("checked", false);
            }
        });

        // 삭제 버튼 클릭 시 삭제 처리(POST 전송)
        deleteBtn.on('click', function() {
            var dataArray = [];

            $("input[name=deleteCheckbox]:checked").each(function() {
                var $this = $(this);
                dataArray.push({serial: $this.val()});
            });
            dataArray = JSON.stringify(dataArray);
            
            $.ajax({
                type: "POST",
                url: '/history_checkdelete',
                headers: {
                    "Content-Type": "application/json"
                },                
                data: dataArray
            });
            location.href = "/admin/history";
        });
    });
});        
</script>
<%- include('../../common/adminfooter.ejs') %>