<%- include('./common/header.ejs') %>

<title>회사소개 - 테스트용 사이트</title>
<div class="sp1TopContents">
	<div class="sp1Top">
		<div class="sp1Top_sub">
			<div class="sp1Top_sub2">
				<div class="sp1Top_sub3">
					<div class="sp1Top_sub4">
						<div class="sp1Top_sub5">
							<div class="sp1Top_sub6">
								<div class="sp1Top_sub7">
									<div class="sp1Top_sub8">
										<div class="sp1Top_sub9">

											<!-- 상단 배경이미지 부분. common.css 583번 라인 background-image -->
											<div class="sp1Top_sub10">
											<!-- End -->

												<div class="sp1Top_sub11">
													<div class="sp1Top_sub12">
														<div class="sp1Top_sub13">
															<div class="sp1Top_sub14">
																<div class="sp1Top_sub15">
																	<div class="sp1Top_sub15">
																		<div class="sp1Top_sub16">
																			<div class="sp1Top_sub17">

																				<!-- 상단 큰글씨 메뉴명 -->
																				<h1>회사소개</h1>
																				<!-- End -->
																				
																			</div>												
																		</div>
																		<div class="sp1Top_sub18">
																			<div class="sp1Top_sub19">
																				<div class="sp1Top_sub20">
																					<div class="sp1Top_sub21">
																						<div class="sp1Top_sub22">
																							<div class="sp1Top_sub23">

																								<!-- 상단 작은글씨 메뉴 -->
																								<div class="sp1Top_sub24">
																									<a href="/" class="sub24_Link">테스트용 사이트</a>																				
																								</div>	
																								<div class="sp1Top_sub24">
																									<div class="sp1Top_sub25">
																										<span><i>＞</i></span>																										
																									</div>																				
																								</div>
																								<div class="sp1Top_sub24">
																									<a href="/about-company" class="sub24_Link">회사소개</a>																				
																								</div>	
																								<!-- End -->
																								
																							</div>																					
																						</div>	
																					</div>																					
																				</div>																					
																			</div>												
																		</div>																															
																	</div>													
																</div>												
															</div>												
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="blankContents">
	<div class="blankContents_sub">
		<div class="blankContents_sub2">
			<div class="blankContents_sub3">
				<div class="blankContents_sub4">
					<div class="blankContents_sub5">
						<div class="blankContents_sub6">
							<div class="blankContents_sub7">
								<div class="blankContents_sub8">
									<div class="blankContents_sub9">
									</div>	
								</div>	
							</div>	
						</div>	
					</div>	
				</div>	
			</div>	
		</div>	
	</div>	
</div>

<div class="sp1Company">
	<div class="sp1Company_sub">
		<div class="sp1Company_sub2">
			<div class="sp1Company_sub3">
				<div class="sp1Company_sub4">
					<div class="sp1Company_sub5">
						<div class="sp1Company_sub6">
							<div class="sp1Company_sub7">
								<div class="sp1Company_sub8">
									<div class="sp1Company_sub9">
										<div class="sp1Company_sub10">
											<div class="sp1Company_sub11">
												<div class="sp1Company_sub12">
													<div class="sp1Company_sub13">
														<div class="sp1Company_sub14">
															<div class="sp1Company_sub15">
																<div class="sp1Company_sub16">
																	<div class="sp1Company_sub17_sub1">
																		<div class="sp1Company_sub17_sub1_sub">
																			<h2>특화된 IT 기술력으로</h2>
																		</div>
																	</div>
																	<div class="sp1Company_sub17_sub2">
																		<div class="sp1Company_sub17_sub2_sub">
																			<h2>금융솔루션을
																				<br class="tablet-enter" style="padding : 50px;">
																				<br class="mobile-enter">
																				더 쉽게, 더 빠르게
																			</h2>
																		</div>
																	</div>
																	<div class="sp1Company_sub17_sub3">
																		<div class="sp1Company_sub17_sub3_sub">
																			<div class="sp1Company_sub17_sub3_sub2">
																				<img src="/images/1_line2.jpg">
																			</div>
																		</div>
																	</div>
																	<div class="sp1Company_sub17_sub4">
																		<div class="sp1Company_sub17_sub4_sub">
																			<h2>2017년 설립된 테스트용 사이트는
																				<br class="mobile-enter">
																				금융권 모바일 플랫폼/서비스 기반의
																				<br class="mobile-enter">
																				시스템 구축을 기반으로
																				<br class="desktop-enter">
																				<br class="tablet-enter">
																				다양한 원천기술을
																				<br class="mobile-enter">
																				확보하며, 우수한 기술과 도전정신을
																				<br class="mobile-enter">
																				바탕으로 새로운 시장을 개척해 왔습니다.
																			</h2>
																		</div>
																	</div>
																	<div class="sp1Company_sub17_sub5">
																		<div class="sp1Company_sub17_sub5_sub">
																			<div class="sp1Company_sub17_sub5_sub2">
																				<div class="sp1Company_sub17_sub5_sub3">
																				</div>
																			</div>
																		</div>
																	</div>
																	<div class="sp1Company_sub17_sub6">
																		<div class="sp1Company_sub17_sub6_sub">
																			<h2>Vision</h2>
																		</div>
																	</div>
																	<div class="sp1Company_sub17_sub7">
																		<div class="sp1Company_sub17_sub7_sub">
																			<h2>Be the 
																				<br class="mobile-enter">
																				Special One
																				<br class="desktop-enter">
																				<br class="tablet-enter">
																				<br class="mobile-enter">																					
																				in your field
																			</h2>
																		</div>
																	</div>
																	<div class="sp1Company_sub17_sub8">
																		<div class="sp1Company_sub17_sub8_sub">
																			<div class="sp1Company_sub17_sub8_sub2">
																				<img src="/images/company_Introduce.jpg">
																			</div>
																		</div>
																	</div>
																	<div class="sp1Company_sub17_sub9">
																		<div class="sp1Company_sub17_sub9_sub">
																			<h2>테스트용 사이트는 국내 최고의
																				<br class="mobile-enter">
																				IT 기술 회사를 지향하며,
																				<br class="desktop-enter">
																				<br class="tablet-enter">
																				맡은 분야에서
																				<br class="mobile-enter">
																				최고의 하나가 되는 것을 목표로 합니다.
																			</h2>
																		</div>
																	</div>
																</div>															
															</div>
														</div>
													</div>
												</div>
											</div>
											<div class="sp1Company_History">
												<div class="sp1Company_History_sub">
													<div class="sp1Company_History_sub2">
														<div class="sp1Company_History_sub3">
															<div class="sp1Company_History_sub4">
																<div class="sp1Company_History_sub5">
																	<div class="sp1Company_History_Head">
																		<div class="sp1Company_History_Head_sub">
																			<h2>History</h2>
																		</div>
																	</div>
																	<div class="sp1Company_History_Year">
																		<div class="sp1Company_History_Year_sub">
																			<div class="sp1Company_History_Year_sub2">
																				<div class="sp1Company_History_Year_sub3">
																					<div class="sp1Company_YearBar" style="top: 28.5px; bottom: 58.5px;">
																						<div class="sp1Company_YearBar_Red" id="sp1Company_YearBar_Red" style="height: 0%;">																					
																						</div>
																					</div>
																					<div class="sp1Company_Year">
																					<!-- 내용 정렬. 연도 내림차순, 월 내림차순, 순번 내림차순 -->
																					<!-- 연혁 데이터 중 연도만 추출해서 필터링하여 History 연도 배치 -->
																					<%
																					for(var i = 0; i < historycontents.length; i++) {
																						for(var j = 1 + i; j < historycontents.length; j++) {
																							if(historycontents[i].number < historycontents[j].number) {
																								var temp = historycontents[j];
																								historycontents[j] = historycontents[i];
																								historycontents[i] = temp;
																							}
																							if(historycontents[i].month < historycontents[j].month) {
																								var temp = historycontents[j];
																								historycontents[j] = historycontents[i];
																								historycontents[i] = temp;
																							}
																							if(historycontents[i].year < historycontents[j].year) {
																								var temp = historycontents[j];
																								historycontents[j] = historycontents[i];
																								historycontents[i] = temp;
																							}
																						}
																					}																					
																					var yearfilter = historycontents.filter(function(item1, idx) {
																						return historycontents.findIndex(function(item2, idx) {
																							return item1.year == item2.year
																						}) == idx;
																					});
																					for(var i = 0; i < yearfilter.length; i++) {
																						var yeardata = yearfilter[i];
																					%>
																					<!-- 짝수년은 오른쪽, 홀수년은 왼쪽에 배치. 최신 년도에는 마진 X, 그 밑부터 마진 적용 -->
																						<div class="sp1Company_Year_sub <% if(yeardata.year % 2 != 0) { %> reverseClass <% } %>" 
																							<% if(yearfilter[0].year != yeardata.year) { %> style="margin-top: 200px; <% } %>">
																							<div class="sp1Company_Year_sub2">
																								<div class="sp1Company_Year_sub3">
																									<div class="sp1Company_Year_sub4">
																										<div class="sp1Company_Year_sub5">
																											<div class="sp1Company_Year_sub6">																							
																											</div>	
																										</div>
																									</div>
																								</div>
																							</div>
																							<div class="sp1Company_Year_Icon">
																								<div class="sp1Company_Year_Icon_sub" id="circle<%= yeardata.year %>">
																									<span>
																										<i aria-hidden="true" class="fas fa-circle"></i>
																									</span>
																								</div>
																							</div>
																							<div class="sp1Company_Year_Number" <% if(yeardata.year % 2 != 0) { %> style="text-align: right; <% } %>">
																								<div class="sp1Company_Year_Number_sub" id="number<%= yeardata.year %>">
																									<%= yeardata.year %>
																								</div>
																							</div>
																						</div>
																					<% } %>
																					</div>
																				</div>
																			</div>
																		</div>
																	</div>															
																	<%
																	for(var i = 0; i < yearfilter.length; i++) {
																		var yeardata = yearfilter[i];
																	%>
																	<div class="sp1Company_History_contents">	
																		<div class="sp1Company_History_contents_sub">
																			<div class="sp1Company_History_contents_sub2">
																				<!-- 짝수년도의 내용인 경우 오른쪽 배치, 홀수년도의 내용인 경우 왼쪽 배치 -->
																				<%
																				if(yeardata.year % 2 == 0) {
																				%>
																				<div class="sp1Company_contents_column_left">
																					<div class="sp1Company_contents_column_left_sub">
																						<div class="sp1Company_contents_column_left_sub2">																					
																						</div>
																					</div>
																				</div>
																				<div class="sp1Company_contents_column_right">
																					<div class="sp1Company_contents_column_right_sub">
																						<div class="sp1Company_contents_column_right_sub2">
																							<div class="sp1Company_contents_column_right_sub3">
																								<div class="sp1Company_contents_column_right_sub4">
																									<div class="sp1Company_contents_column_right_sub5">	
																										<span></span>																						
																									</div>
																								</div>
																							</div>
																							<%
																							var rightCnt = 0;
																							while(rightCnt < historycontents.length) {
																								var contentsdata = historycontents[rightCnt];
																								rightCnt++;																					
																							%>
																								<% if(yeardata.year == contentsdata.year) { %>
																								<div class="sp1Company_contents_column_right_txtTitle <% if(contentsdata.hiddenYN == 'Y') { %> hiddenClass<% } %>">
																									<div class="sp1Company_contents_column_right_title">
																										<H2><% if(yeardata.year == contentsdata.year) { %><%= contentsdata.year %>.
																											<% if(contentsdata.month < 10) { %>0<% } %><%= contentsdata.month %><% } %></H2>
																									</div>
																								</div>
																								<div class="sp1Company_contents_column_right_txtContents <% if(contentsdata.hiddenYN == 'Y') { %> hiddenClass<% } %>">
																									<div class="sp1Company_contents_column_right_contents" style="margin-bottom: 30px;">
																										<H2><% if(yeardata.year == contentsdata.year) { %> <%= contentsdata.customer %>&nbsp;<%= contentsdata.project %> <% } %></H2>
																									</div>
																								</div>
																								<% } %>
																							<% } %>
																						</div>
																					</div>
																				</div>
																				<% } %>
																				<%
																				if(yeardata.year % 2 != 0) {
																				%>
																				<div class="sp1Company_contents_column_left_reverse">
																					<div class="sp1Company_contents_column_left_reverse_sub">
																						<div class="sp1Company_contents_column_left_reverse_sub2">
																							<div class="sp1Company_contents_column_left_reverse_sub3">
																								<div class="sp1Company_contents_column_left_reverse_sub4">
																									<div class="sp1Company_contents_column_left_reverse_sub5">	
																										<span></span>																						
																									</div>
																								</div>
																							</div>
																							<%
																							var leftCnt = 0;																		
																							while(leftCnt < historycontents.length) {
																								var contentsdata = historycontents[leftCnt];
																								leftCnt++;																					
																							%>
																								<% if(yeardata.year == contentsdata.year) { %>
																								<div class="sp1Company_contents_column_left_reverse_txtTitle <% if(contentsdata.hiddenYN == 'Y') { %> hiddenClass<% } %>">
																									<div class="sp1Company_contents_column_left_reverse_title">
																										<H2><% if(yeardata.year == contentsdata.year) { %><%= contentsdata.year %>.
																											<% if(contentsdata.month < 10) { %>0<% } %><%= contentsdata.month %><% } %></H2>
																									</div>
																								</div>	
																								<div class="sp1Company_contents_column_left_reverse_txtContents <% if(contentsdata.hiddenYN == 'Y') { %> hiddenClass<% } %>">
																									<div class="sp1Company_contents_column_left_reverse_contents" style="margin-bottom: 30px;">
																										<H2><% if(yeardata.year == contentsdata.year) { %> <%= contentsdata.customer %>&nbsp;<%= contentsdata.project %> <% } %></H2>
																									</div>
																								</div>
																								<% } %>
																							<% } %>
																						</div>
																					</div>		
																				</div>
																				<div class="sp1Company_contents_column_right_reverse">
																					<div class="sp1Company_contents_column_left_sub">
																						<div class="sp1Company_contents_column_left_sub2">																					
																						</div>
																					</div>
																				</div>
																				<% } %>
																			</div>
																		</div>
																	</div>
																	<% } %>
																</div>
															</div>
														</div>
													</div>
												</div>
											</div>

											<!-- 모바일 버젼 History -->
											<div class="sp1Company_History_mobile">
												<div class="sp1Company_History_mobile_sub">
													<div class="sp1Company_History_mobile_sub2">
														<div class="sp1Company_History_mobile_sub3">
															<div class="sp1Company_History_mobile_sub4">
																<div class="sp1Company_History_mobile_sub5">
																	<div class="sp1Company_History_mobile_Head">
																		<div class="sp1Company_History_mobile_Head_sub">
																			<h2>History</h2>
																		</div>
																	</div>
																	<div class="sp1Company_History_mobile_Year">
																		<div class="sp1Company_History_mobile_Year_sub">
																			<div class="sp1Company_History_mobile_Year_sub2">
																				<div class="sp1Company_History_mobile_Year_sub3">
																					<div class="sp1Company_mobile_YearBar" style="top: 68.5px; bottom: 98.5px;">
																						<div class="sp1Company_mobile_YearBar_Red" id="sp1Company_mobile_YearBar_Red" style="height: 0%;">																					
																						</div>
																					</div>
																					<div class="sp1Company_mobile_Year">
																						<%
																						for(var i = 0; i < yearfilter.length; i++) {
																							var yeardata = yearfilter[i];
																						%>
																						<div class="sp1Company_mobile_Year_sub" <% if(yearfilter[0].year != yeardata.year) { %> style="margin-top: 200px;" <% } %>>																					
																							<div class="sp1Company_mobile_Year_Icon">
																								<div class="sp1Company_mobile_Year_Icon_sub" id="mobile_circle<%= yeardata.year %>">
																									<span>
																										<i aria-hidden="true" class="fas fa-circle"></i>
																									</span>
																								</div>
																							</div>
																							<div class="sp1Company_mobile_Year_Number">
																								<div class="sp1Company_mobile_Year_Number_sub">
																									<div class="sp1Company_mobile_Year_Number_sub2">
																										<div class="sp1Company_mobile_Year_Number_sub3">
																											<div class="sp1Company_mobile_Year_Number_sub4">
																												<div class="sp1Company_mobile_Year_Number_sub5" id="mobile_number<%= yeardata.year %>">
																													<%= yeardata.year %>
																												</div>
																											</div>
																										</div>
																									</div>
																								</div>
																							</div>		
																						</div>
																						<% } %>																						
																					</div>
																				</div>
																			</div>
																		</div>
																	</div>
																	<%
																	for(var i = 0; i < yearfilter.length; i++) {
																		var yeardata = yearfilter[i];
																	%>
																	<div class="sp1Company_History_mobile_contents">
																		<div class="sp1Company_History_mobile_contents_sub">
																			<div class="sp1Company_History_mobile_contents_sub2">
																				<div class="sp1Company_History_mobile_contents_sub3">
																					<div class="sp1Company_History_mobile_contents_sub4">
																						<div class="sp1Company_History_mobile_contents_sub5">
																							<div class="sp1Company_History_mobile_contents_sub5_div">
																								<div class="sp1Company_History_mobile_contents_sub5_div_sub">
																									<div class="sp1Company_History_mobile_contents_sub5_div_sub2">
																										<span></span>
																									</div>
																								</div>
																							</div>
																							<%
																							var mobileCnt = 0;
																							while(mobileCnt < historycontents.length) {																
																								var contentsdata = historycontents[mobileCnt];																								
																								mobileCnt++;																					
																							%>
																								<% if(yeardata.year == contentsdata.year) { %>
																								<div class="sp1Company_History_mobile_contents_sub5_title">
																									<div class="sp1Company_History_mobile_contents_sub5_title_sub">
																										<H2><% if(yeardata.year == contentsdata.year) { %><%= contentsdata.year %>.
																											<% if(contentsdata.month < 10) { %>0<% } %><%= contentsdata.month %><% } %></H2>
																									</div>
																								</div>
																								<div class="sp1Company_History_mobile_contents_sub5_contents">
																									<div class="sp1Company_History_mobile_contents_sub5_contents_sub" style="margin-bottom: 15px;">
																										<H2><% if(yeardata.year == contentsdata.year) { %> <%= contentsdata.customer %>&nbsp;<%= contentsdata.project %> <% } %></H2>
																									</div>
																								</div>
																								<% } %>
																							<% } %>
																						</div>
																					</div>
																				</div>
																			</div>
																		</div>															
																	</div>
																	<% } %>																	
																</div>
															</div>
														</div>
													</div>
												</div>
												<!-- End -->

											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<script>
$(function() {
    $(function init() {  
		// PC 버전 스크롤바, 년도 
		var sp1Company_YearBar_Red = document.getElementById('sp1Company_YearBar_Red');
		var yearCircle = document.querySelectorAll('.sp1Company_Year_Icon_sub');
		var yearNumber = document.querySelectorAll('.sp1Company_Year_Number_sub');

		// 모바일 버전 스크롤바, 년도
		var sp1Company_mobile_YearBar_Red = document.getElementById('sp1Company_mobile_YearBar_Red');
		var mobile_yearCircle = document.querySelectorAll('.sp1Company_mobile_Year_Icon_sub');
		var mobile_yearNumber = document.querySelectorAll('.sp1Company_mobile_Year_Number_sub5');

		// 스크롤 위치에 따라 History Red Bar 높이 조절.
		function historyScroll() {
			var html_height = $('html').height();
			var scroll = window.scrollY / 100;
			if(html_height > 1000) {
				scroll = window.scrollY / 100;
			}else if(html_height > 800 && html_height < 1000){
				scroll = (window.scrollY / 100) - 2;
			}else {
				scroll = (window.scrollY / 100) - 4;
			}
			
			// PC 버전 스크롤바 퍼센트
			var scroll_per = 2.3334;
			var scroll_red_per = 7;
			if(yearNumber.length > scroll_red_per) {
				scroll_red_per = 5;
			}
			var scroll_top = 14 + (scroll_per * yearNumber.length);

			// 모바일 버전 스크롤바 퍼센트
			var mobile_scroll_per = 2.6667;
			var mobile_scroll_red_per = 7;
			if(yearNumber.length > mobile_scroll_red_per) {
				mobile_scroll_red_per = 5;
			}
			var mobile_scroll_top = 17 + (mobile_scroll_per * yearNumber.length);

			// PC 버전 스크롤바
			if(scroll > 13 && scroll < scroll_top) {
				sp1Company_YearBar_Red.style.height = (scroll - 13) * scroll_red_per + '%';
			}else if(scroll > scroll_top) {
				sp1Company_YearBar_Red.style.height = 100 + '%';
			}else if(scroll < 13) {
				sp1Company_YearBar_Red.style.height = 0 + '%';
			}
			if(scroll > 12) {
				yearCircle[0].style.backgroundColor = '#C6252A';
				yearNumber[0].style.color = '#C6252A'; 	
			}else {
				yearCircle[0].style.backgroundColor = '#CECECE';
				yearNumber[0].style.color = '#CECECE'; 	
			}
			for(var i = 1; i < yearNumber.length; i++) {
				if(yearNumber.length >= scroll_red_per) {
					if(i > 2) {
						if(((((scroll - 14) * scroll_red_per)) * yearNumber.length / 100) >= i + (0.1 * i) - 0.17) {
							yearCircle[i].style.backgroundColor = '#C6252A';
							yearNumber[i].style.color = '#C6252A'; 
						}else {
							yearCircle[i].style.backgroundColor = '#CECECE';
							yearNumber[i].style.color = '#CECECE'; 	
						}	
					}else if(i == 2) {
						if(((((scroll - 14) * scroll_red_per)) * yearNumber.length / 100) >= i - 0.1) {
							yearCircle[i].style.backgroundColor = '#C6252A';
							yearNumber[i].style.color = '#C6252A'; 
						}else {
							yearCircle[i].style.backgroundColor = '#CECECE';
							yearNumber[i].style.color = '#CECECE'; 	
						}
					}else if(i == 1) {
						if(((((scroll - 14) * scroll_red_per)) * yearNumber.length / 100) >= i - 0.22) {
							yearCircle[i].style.backgroundColor = '#C6252A';
							yearNumber[i].style.color = '#C6252A'; 
						}else {
							yearCircle[i].style.backgroundColor = '#CECECE';
							yearNumber[i].style.color = '#CECECE'; 	
						}
					}
				}else {
					if(i > 2) {
						if(((((scroll - 14) * scroll_red_per)) * yearNumber.length / 100) >= i + (0.15 * i) - 0.17) {
							yearCircle[i].style.backgroundColor = '#C6252A';
							yearNumber[i].style.color = '#C6252A'; 
						}else {
							yearCircle[i].style.backgroundColor = '#CECECE';
							yearNumber[i].style.color = '#CECECE'; 	
						}	
					}else if(i == 2) {
						if(((((scroll - 14) * scroll_red_per)) * yearNumber.length / 100) >= i) {
							yearCircle[i].style.backgroundColor = '#C6252A';
							yearNumber[i].style.color = '#C6252A'; 
						}else {
							yearCircle[i].style.backgroundColor = '#CECECE';
							yearNumber[i].style.color = '#CECECE'; 	
						}
					}else if(i == 1) {
						if(((((scroll - 14) * scroll_red_per)) * yearNumber.length / 100) >= i - 0.17) {	
							yearCircle[i].style.backgroundColor = '#C6252A';
							yearNumber[i].style.color = '#C6252A'; 
						}else {
							yearCircle[i].style.backgroundColor = '#CECECE';
							yearNumber[i].style.color = '#CECECE'; 
						}
					}
				}
			}


			// 모바일 버전 스크롤바	
			if(scroll > 14 && scroll < mobile_scroll_top) {
				sp1Company_mobile_YearBar_Red.style.height = (scroll - 17) * mobile_scroll_red_per + '%';
			}else if(scroll > mobile_scroll_top) {
				sp1Company_mobile_YearBar_Red.style.height = 100 + '%';
			}else if(scroll < 14) {
				sp1Company_mobile_YearBar_Red.style.height = 0 + '%';
			}			
			if(scroll > 14) {
				mobile_yearCircle[0].style.backgroundColor = '#C6252A';
				mobile_yearNumber[0].style.color = '#C6252A'; 
			}else {
				mobile_yearCircle[0].style.backgroundColor = '#CECECE';
				mobile_yearNumber[0].style.color = '#CECECE'; 
			}
			for(var i = 1; i < yearNumber.length; i++) {
				if(yearNumber.length >= mobile_scroll_red_per) {
					if(i > 2) {
						if(((((scroll - 18) * mobile_scroll_red_per)) * yearNumber.length / 100) >= i + (0.1 * i) - 0.17) {
							mobile_yearCircle[i].style.backgroundColor = '#C6252A';
							mobile_yearNumber[i].style.color = '#C6252A'; 
						}else {
							mobile_yearCircle[i].style.backgroundColor = '#CECECE';
							mobile_yearNumber[i].style.color = '#CECECE'; 
						}	
					}else if(i == 2) {
						if(((((scroll - 18) * mobile_scroll_red_per)) * yearNumber.length / 100) >= i - 0.1) {
							mobile_yearCircle[i].style.backgroundColor = '#C6252A';
							mobile_yearNumber[i].style.color = '#C6252A'; 
						}else {
							mobile_yearCircle[i].style.backgroundColor = '#CECECE';
							mobile_yearNumber[i].style.color = '#CECECE'; 
						}
					}else if(i == 1) {
						if(((((scroll - 18) * mobile_scroll_red_per)) * yearNumber.length / 100) >= i - 0.26) {
							mobile_yearCircle[i].style.backgroundColor = '#C6252A';
							mobile_yearNumber[i].style.color = '#C6252A'; 
						}else {
							mobile_yearCircle[i].style.backgroundColor = '#CECECE';
							mobile_yearNumber[i].style.color = '#CECECE'; 
						}
					}
				}else {
					if(i > 2) {
						if(((((scroll - 18) * mobile_scroll_red_per)) * yearNumber.length / 100) >= i + (0.15 * i) - 0.17) {
							mobile_yearCircle[i].style.backgroundColor = '#C6252A';
							mobile_yearNumber[i].style.color = '#C6252A'; 
						}else {
							mobile_yearCircle[i].style.backgroundColor = '#CECECE';
							mobile_yearNumber[i].style.color = '#CECECE'; 
						}	
					}else if(i == 2) {
						if(((((scroll - 18) * mobile_scroll_red_per)) * yearNumber.length / 100) >= i) {
							mobile_yearCircle[i].style.backgroundColor = '#C6252A';
							mobile_yearNumber[i].style.color = '#C6252A'; 
						}else {	
							mobile_yearCircle[i].style.backgroundColor = '#CECECE';
							mobile_yearNumber[i].style.color = '#CECECE'; 
						}
					}else if(i == 1) {
						if(((((scroll - 18) * mobile_scroll_red_per)) * yearNumber.length / 100) >= i - 0.17) {	
							mobile_yearCircle[i].style.backgroundColor = '#C6252A';
							mobile_yearNumber[i].style.color = '#C6252A'; 
						}else {
							mobile_yearCircle[i].style.backgroundColor = '#CECECE';
							mobile_yearNumber[i].style.color = '#CECECE'; 	
						}
					}
				}
			}
		};

		historyScroll();
		window.addEventListener('scroll', () => { 	
			historyScroll();
		});
	});
});       	
</script>
<%- include('./common/footer.ejs') %>