<%- include('../../common/adminheader.ejs') %>
<script type="text/javascript" src="/node_modules/jquery/dist/jquery.js"></script>
<title>관리도서 수정 페이지 - 테스트용 사이트</title>

<div class="admin_body">
    <div class="admin_content">
        <div class="admin_contentwrap">
            <h1>관리도서 수정</h1>          
            <form method="POST" enctype="multipart/form-data", action="/book_update" onsubmit="return contentsCheck();">
                <%
                var data = bookOne;
                %>
                <div class="write_table">
                    <div class="write_table_div">
                        <div class="write_table_div1">
                            <span>유형</span>
                        </div>
                        <div class="write_table_div2">
                            <input type="text" name="bookType" id="bookType" value="<%= data.bookType %>">
                        </div>
                        <div class="write_table_div3">
                            
                        </div>
                    </div>
                    <div class="message_table_div">
                        <div class="message_table_div1">
                        
                        </div>
                        <div class="message_table_div2">
                            <span id="bookTypeMessage">※ 도서유형을 입력해주세요.</span>
                        </div>
                        <div class="message_table_div3">
                        
                        </div>
                    </div>
                    <div class="write_table_div">
                        <div class="write_table_div1">
                            <span>관리번호</span>
                        </div>
                        <div class="write_table_div2_modify">
                            <span><%= data.managementNumber %></span>
                        </div>                          
                        <div class="write_table_div3">
                            
                        </div>
                    </div>
                    <div class="message_table_div">
                        <div class="message_table_div1">
                        
                        </div>
                        <div class="message_table_div2">
                            <span></span>
                        </div>
                        <div class="message_table_div3">
                        
                        </div>
                    </div>
                    <div class="write_table_div" style="display: none;">
                        <div class="write_table_div1">
                            <span>관리번호 숨김</span>
                        </div>
                        <div class="write_table_div2">
                            <input type="text" name="managementNumber" value="<%= data.managementNumber %>">
                        </div>
                        <div class="write_table_div3">
                            
                        </div>
                    </div>
                    <div class="write_table_div">
                        <div class="write_table_div1">
                            <span>도서명</span>
                        </div>
                        <div class="write_table_div2">
                            <input type="text" id="bookName" name="bookName" value="<%= data.bookName %>">
                        </div>
                        <div class="write_table_div3">
                            
                        </div>
                    </div>
                    <div class="message_table_div">
                        <div class="message_table_div1">
                        
                        </div>
                        <div class="message_table_div2">
                            <span id="bookNameMessage">※ 도서명을 입력해주세요.</span>
                        </div>
                        <div class="message_table_div3">
                        
                        </div>
                    </div>
                    <div class="write_table_div">
                        <div class="write_table_div1">
                            <span>구매일</span>
                        </div>
                        <div class="write_table_div2">
                            <input type="text" id="purchaseDate" name="purchaseDate" value="<%= data.purchaseDate %>">
                        </div>
                        <div class="write_table_div3">
                            
                        </div>
                    </div>
                    <div class="message_table_div">
                        <div class="message_table_div1">
                        
                        </div>
                        <div class="message_table_div2">
                            <span></span>
                        </div>
                        <div class="message_table_div3">
                        
                        </div>
                    </div>
                    <div class="write_table_div">
                        <div class="write_table_div1">
                            <span>개정년도</span>
                        </div>
                        <div class="write_table_div2">
                            <input type="text" id="revisionYear" name="revisionYear" value="<%= data.revisionYear %>">
                        </div>
                        <div class="write_table_div3">
                            
                        </div>
                    </div>
                    <div class="message_table_div">
                        <div class="message_table_div1">
                        
                        </div>
                        <div class="message_table_div2">
                            <span id="revisionYearMessage">※ 개정년도를 입력해주세요.</span>
                        </div>
                        <div class="message_table_div3">
                        
                        </div>
                    </div>
                    <div class="write_table_div">
                        <div class="write_table_div1">
                            <span>목차 링크</span>
                        </div>
                        <div class="write_table_div2">
                            <input type="text" id="link" name="link" value="<%= data.link %>">
                        </div>
                        <div class="write_table_div3">
                            
                        </div>
                    </div>
                    <div class="message_table_div">
                        <div class="message_table_div1">
                        
                        </div>
                        <div class="message_table_div2">
                            <span id="linkMessage">※ 링크를 입력해주세요.</span>
                        </div>
                        <div class="message_table_div3">
                        
                        </div>
                    </div>
                    <div class="write_table_div">
                        <div class="write_table_div1">
                            <span>이미지 등록</span>
                        </div>
                        <div class="write_table_div2_upload">
                            <input type="file" id="imagefile" name="imagefile"/>
                            <div class="resizeBtnDiv">
                                <input type="button" id="resizeBtn" class="resizeBtn" value="이미지 편집"/>
                            </div>                
                        </div>
                        <div class="write_table_div3">
                            
                        </div>
                    </div>
                    <div class="message_table_div">
                        <div class="message_table_div1">
                        
                        </div>
                        <div class="message_table_div2">
                            <span id="imageMessage">
                            <% 
                            if(data.imagename != "") {
                            %>
                                ※ 기존 사진이 등록되어 있습니다. (권장 사이즈 : 150 x 250 px)
                            <%
                            }else {
                            %>
                                ※ 사진을 등록해주세요. (권장 사이즈 : 150 x 250 px)
                            <% 
                            }    
                            %>                           
                            </span>
                        </div>
                        <div class="message_table_div3">
                        
                        </div>
                    </div>
                    <div class="write_table_div">
                        <div class="write_table_div1">
                            <span>비고</span>
                        </div>
                        <div class="write_table_div2">
                            <input type="text" id="reference" name="reference" value="<%= data.reference %>">
                        </div>
                        <div class="write_table_div3">
                            
                        </div>
                    </div>
                    <div class="message_table_div">
                        <div class="message_table_div1">
                        
                        </div>
                        <div class="message_table_div2">
                            <span></span>
                        </div>
                        <div class="message_table_div3">
                        
                        </div>
                    </div>
                    <div class="write_table_div" style="display: none;">
                        <div class="write_table_div1">
                            <span>수정자명</span>
                        </div>
                        <div class="write_table_div2">
                            <input type="text" name="modifier" value="<%= loginMember.name %>">
                        </div>
                        <div class="write_table_div3">
                            
                        </div>
                    </div>
                    <div class="write_table_div" style="display: none;">
                        <div class="write_table_div1">
                            <span>수정일</span>
                        </div>
                        <div class="write_table_div2">
                            <input type="text" id="modifydate" name="modifydate" value="">
                        </div>
                        <div class="write_table_div3">
                            
                        </div>
                    </div>
                    <div class="write_table_btn">
                        <input type="submit" value="수정"/>
                        <a href="/admin/book/delete?managementNumber=<%= data.managementNumber %>">
                            <span>삭제</span>
                        </a>
                        <a href="/admin/book">
                            <span>돌아가기</span>
                        </a>
                    </div>
                    <div style="font-size: 12px;">작성자: <%= data.writer %> / 작성일: <%=data.date %> / 수정자: <%= data.modifier %> / 수정일: <%=data.modifydate %></div>
                </div>
            </form>
        </div>
    </div>
</div>
<script>
// 필수사항 입력 체크 함수
function contentsCheck() {
    if($('#managementNumber').val() == "" || $('#bookName').val() == "" || $('#revisionYear').val() == "" || $('#link').val() == "") {
        alert('필수항목을 입력해주세요.');
        return false;
    }
}

$(function() {
    $(function init() {
        // 수정일 오늘 날짜 자동기입
        $('#modifydate').attr('value', todayDate());        
        
        // 데이터 유무에 따른 알림 메시지 공개/비공개
        if($('#bookType').val() != "") {
            $('#bookTypeMessage').css('display', 'none');
        }else {
            $('#bookTypeMessage').css('display', 'block');
        } 
        if($('#bookName').val() != "") {
            $('#bookNameMessage').css('display', 'none');
        }else {
            $('#bookNameMessage').css('display', 'block');
        }     
        if($('#revisionYear').val() != "") {
            $('#revisionYearMessage').css('display', 'none');
        }else {
            $('#revisionYearMessage').css('display', 'block');
        }
        if($('#link').val() != "") {
            $('#linkMessage').css('display', 'none');
        }else {
            $('#linkMessage').css('display', 'block');
        }     

        // 날짜 플래터 적용
        $('#purchaseDate').change(function() {
            var $this =  $('#purchaseDate').val();
            var formatdate = dayformat($this);
            $('#purchaseDate').val(formatdate);
        });

        // 데이터 유무에 따른 알림 메시지 공개/비공개
        $('#bookType').change(function() {
            if($('#bookType').val() != "") {
                $('#bookTypeMessage').css('display', 'none');
            }else {
                $('#bookTypeMessage').css('display', 'block');
            }
        });   
        $('#bookName').change(function() {
            if($('#bookName').val() != "") {
                $('#bookNameMessage').css('display', 'none');
            }else {
                $('#bookNameMessage').css('display', 'block');
            }
        });   
        $('#revisionYear').change(function() {
            if($('#revisionYear').val() != "") {
                $('#revisionYearMessage').css('display', 'none');
            }else {
                $('#revisionYearMessage').css('display', 'block');
            }
        });   
        $('#link').change(function() {
            if($('#link').val() != "") {
                $('#linkMessage').css('display', 'none');
            }else {
                $('#linkMessage').css('display', 'block');
            }
        });  
        $('#imagefile').change(function() {
            if($('#imagefile')[0].files.length != 0) {
                $('#imageMessage').css('display', 'none');
            }else {
                $('#imageMessage').css('display', 'block');
            }
        });   

        // 이미지 편집기 실행
        $('#resizeBtn').on('click', function() {
            window.open("/admin/imageeditor", "이미지 편집화면", "width=1070, height=530, top=0, left=0 overflow=hidden");
        });
    });
});        
</script>
<%- include('../../common/adminfooter.ejs') %>