<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="/images/ico.jpg" type="image/ico" />
    <link href="/css/mobile.css" rel="stylesheet" type="text/css">
    <script type="text/javascript" src="/node_modules/jquery/dist/jquery.js"></script>
</head>
<title>장비 사용확인 페이지 - 테스트용 사이트</title>
<body>
    <div class="adminwrap mobilemain"> 
        <div class="admin_body">
            <div class="admin_content">
                <div class="admin_contentwrap">
                    <div style="text-align: center;">
                        <h1>장비 사용확인</h1>
                    </div>
                    <div class="btn_table_btn"> 
                        <a class="a2" id="allcheck_column">전체선택</a>
                        <a class="page-title-action" id="use_check">사용승인</a>
                        <a class="page-title-action" id="use_refuse">사용반려</a>
                    </div>      
                    <table class="admin_board" style="font-size: 13px;">
                        <colgroup>
                            <col width="25%">
                            <col width="25%">
                            <col width="25%">
                            <col width="25%">
                        </colgroup>
                        <% 
                        for(var i = 0; i < toolList.length; i++) {
                            var data = toolList[i];
                            if(data.useYN != "Y" && data.user != "") {                       
                        %>
                        <tbody class="adminboard_body boardlist" style="font-size: 13px;">
                            <tr>
                                <th colspan="4" style="border-right: none;">
                                    <span><% if(data.imagename != "") { %><img src="/uploads/<%= data.imagename %>" style="width:60%; margin-top: 10px"><% } %></span>
                                </th>
                            </tr> 
                            <tr>
                                <th>선택</th>
                                <td style="text-align: center;;">
                                    <label class="screen-reader-text" for="cb<%= i %>"></label>
                                    <input id="cb<%= i %>" class="checkbox" type="checkbox" name="useCheckbox" value="<%= data.managementNumber %>">
                                </td>
                                <th>이력</th>   
                                <td style="text-align: center; border-right: none;">
                                    <a class="historyBtn" data-toolHistory="<%= data.toolHistory %>" href="javascript:void(0);">[이력]</a>  
                                </td>         
                            </tr>  
                            <tr>
                                <th>유형</th>
                                <td><span><%= data.productType %></span></td>
                                <th>관리번호</th>
                                <td style="border-right: none;">
                                    <span>
                                        <a class="modal_open" 
                                            data-imagename="<%= data.imagename %>" data-productType="<%= data.productType %>" data-managementNumber="<%= data.managementNumber %>"
                                            data-maker="<%= data.maker %>" data-productName="<%= data.productName %>" data-telecom="<%= data.telecom %>" data-inch="<%= data.inch %>"
                                            data-cpu="<%= data.cpu %>" data-memory="<%= data.memory %>" data-windowYN="<%= data.windowYN %>" data-connectionType="<%= data.connectionType %>"
                                            data-lanYN="<%= data.lanYN %>" data-udid="<%= data.udid %>" data-osVersion="<%= data.osVersion %>" data-phoneNumber="<%= data.phoneNumber %>"
                                            data-callingPlan="<%= data.callingPlan %>" data-productSerial="<%= data.productSerial %>" data-purchaseDate="<%= data.purchaseDate %>"
                                            data-user="<%= data.user %>" data-usePlace="<%= data.usePlace %>" data-reference="<%= data.reference %>">                         
                                        <%= data.managementNumber %></a>
                                    </span>
                                </td>                
                            </tr>
                            <tr>
                                <th>장비명</th>
                                <td><span><%= data.productName %></span></td>
                                <th>사용신청일</th>
                                <td style="border-right: none;"><span><%= data.useStartDate %></span></td>   
                            </tr>  
                            <tr>
                                <th colspan="4" style="border-top: none; border-left: none; border-right: none;"></th>
                            </tr>                                     
                        </tbody>
                        <% 
                            } 
                        }
                        %>
                        <tbody class="adminboard_body moreBtn" style="font-size: 15px;">
                            <tr>
                                <td id="moreBtn" colspan="4" style="text-align:center; border-left: 1px solid #c3c4c7;">
                                    더보기
                                </td>
                            </tr>
                        </tbody>                      
                    </table>            
                </div>
            </div>
        </div>
    </div>
<%- include('mobilehistory.ejs') %>    
<%- include('toolmobiledetail.ejs') %>
</body>
<script>
$(function() {
    $(function init() {
        var moreBtn = $('#moreBtn');

        $(".boardlist").slice(0, 5).show();
        if($(".boardlist:hidden").length == 0){
            $('.moreBtn').hide();
            $('#moreBtn').hide();
        }
        moreBtn.on('click', function(e) {
            e.preventDefault();
            $(".boardlist:hidden").slice(0, 5).show();
            if($(".boardlist:hidden").length == 0){
                $('.moreBtn').hide();
                $('#moreBtn').hide();
            }
        });

        var historyBtn = $('.historyBtn');
        var close_historyBtn = $('#close_historyBtn');
        var mobile_historymodal = $('.mobile_historymodal');

        historyBtn.on('click', function() {
            var $this = $(this);
            var toolHistory = $this.data('toolhistory');
            var modal_toolHistory = $('#modal_history');
            if(toolHistory != "") { 
                var split = toolHistory.split(',');
                var text_split = '';
                for(var i = 0; i < split.length; i++) {
                    text_split += split[i] + '\n';
                }
                modal_toolHistory.text(text_split);
            }
            mobile_historymodal.show();
            mobilemain.hide();
        });

        close_historyBtn.on('click', function() {
            var modal_toolHistory = $('#modal_history');
            modal_toolHistory.text('');
            mobile_historymodal.hide();
            mobilemain.show();
        });

        var mobilemain = $('.mobilemain');
        var mobilemodal = $('.mobilemodal');
        var modal_open = $('.modal_open');
        var modal_exitBtn = $('#modal_exitBtn');
    
        modal_open.on('click', function() {
            var $this = $(this);
            var imagename = $this.data('imagename');
            var productType = $this.data('producttype');
            var managementNumber = $this.data('managementnumber');
            var maker = $this.data('maker');
            var productName = $this.data('productname');
            var telecom = $this.data('telecom');
            var inch = $this.data('inch');
            var cpu = $this.data('cpu');
            var memory = $this.data('memory');
            var windowYN = $this.data('windowyn');
            var connectionType = $this.data('connectiontype');
            var lanYN = $this.data('lanyn');
            var udid = $this.data('udid');
            var osVersion = $this.data('osversion');
            var phoneNumber = $this.data('phonenumber');
            var callingPlan = $this.data('callingplan');
            var productSerial = $this.data('productserial');
            var purchaseDate = $this.data('purchasedate');
            var user = $this.data('user');
            var usePlace = $this.data('useplace');
            var reference = $this.data('reference');

            var selectColumn1 = $('#selectColumn1');
            var selectColumn2 = $('#selectColumn2');
            var selectColumn3 = $('#selectColumn3');
            var selectColumn4 = $('#selectColumn4');
            var selectColumn5 = $('#selectColumn5');
            var selectColumn6 = $('#selectColumn6');
            var selectColumn7 = $('#selectColumn7');
            var selectColumn8 = $('#selectColumn8');
            var selectColumn9 = $('#selectColumn9');
            var selectColumn10 = $('#selectColumn10');

            if(productType == "노트북") {
                selectColumn1.show();
                selectColumn2.hide();
                selectColumn3.show();       
                selectColumn4.show();
                selectColumn5.show();
                selectColumn6.hide();
                selectColumn7.hide();
                selectColumn8.hide();
                selectColumn9.hide();
                selectColumn10.hide();
            }else if(productType == "모니터") {
                selectColumn1.show();
                selectColumn2.hide();
                selectColumn3.show();       
                selectColumn4.hide();
                selectColumn5.hide();
                selectColumn6.hide();
                selectColumn7.hide();
                selectColumn8.hide();
                selectColumn9.hide();
                selectColumn10.hide();
            }else if(productType == "PC 본체") {
                selectColumn1.show();
                selectColumn2.hide();
                selectColumn3.hide();       
                selectColumn4.show();
                selectColumn5.show();
                selectColumn6.hide();
                selectColumn7.hide();
                selectColumn8.hide();
                selectColumn9.hide();
                selectColumn10.hide();
            }else if(productType == "RJ45 이더넷 어댑터") {
                selectColumn1.show();
                selectColumn2.hide();
                selectColumn3.hide();       
                selectColumn4.hide();
                selectColumn5.hide();
                selectColumn6.show();
                selectColumn7.hide();
                selectColumn8.hide();
                selectColumn9.hide();
                selectColumn10.hide();
            }else if(productType == "테스트 단말기") {
                selectColumn1.show();
                selectColumn2.hide();
                selectColumn3.hide();       
                selectColumn4.hide();
                selectColumn5.hide();
                selectColumn6.hide();
                selectColumn7.show();
                selectColumn8.show();
                selectColumn9.hide();
                selectColumn10.hide();
            }else if(productType == "USB HUB") {
                selectColumn1.show();
                selectColumn2.hide();
                selectColumn3.hide();       
                selectColumn4.hide();
                selectColumn5.hide();
                selectColumn6.show();
                selectColumn7.hide();
                selectColumn8.hide();
                selectColumn9.hide();
                selectColumn10.hide();
            }else if(productType == "USIM") {
                selectColumn1.hide();
                selectColumn2.show();
                selectColumn3.hide();       
                selectColumn4.hide();
                selectColumn5.hide();
                selectColumn6.hide();
                selectColumn7.hide();
                selectColumn8.hide();
                selectColumn9.show();
                selectColumn10.show();
            }else if(productType == "EGG") {
                selectColumn1.hide();
                selectColumn2.show();
                selectColumn3.hide();       
                selectColumn4.hide();
                selectColumn5.hide();
                selectColumn6.hide();
                selectColumn7.hide();
                selectColumn8.hide();
                selectColumn9.hide();
                selectColumn10.show();
            }

            $('#modal_image').attr("src", "/uploads/" + imagename);
            $('#modal_productType').text(productType);
            $('#modal_managementNumber').text(managementNumber);
            $('#modal_maker').text(maker);
            $('#modal_productName').text(productName);
            $('#modal_productName2').text(productName);
            $('#modal_telecom').text(telecom);
            $('#modal_inch').text(inch);
            $('#modal_cpu').text(cpu);
            $('#modal_memory').text(memory);
            $('#modal_windowYN').text(windowYN);
            $('#modal_connectionType').text(connectionType);
            $('#modal_lanYN').text(lanYN);
            $('#modal_udid').text(udid);
            $('#modal_osVersion').text(osVersion);
            $('#modal_phoneNumber').text(phoneNumber); 
            $('#modal_callingPlan').text(callingPlan);
            $('#modal_productSerial').text(productSerial);
            $('#modal_purchaseDate').text(purchaseDate);
            $('#modal_user').text(user);
            $('#modal_usePlace').text(usePlace);
            $('#modal_reference').text(reference);

            mobilemodal.show();
            mobilemain.hide();
        });

        modal_exitBtn.on('click', function() {
            mobilemodal.hide();
            mobilemain.show();
        });

        var allcheck_column = $('#allcheck_column'); // 전체 선택
        var use_check = $('#use_check'); // 사용승인 버튼
        var use_refuse = $('#use_refuse'); // 사용반려 버튼
        var checkCnt = 0;

        // 전체 선택 클릭 시 컬럼 전체 선택/해제
        allcheck_column.on('click', function() {
            if(checkCnt == 0) {
                $("input[name=useCheckbox]").prop("checked", true);
                checkCnt = 1;
            }else {
                $("input[name=useCheckbox]").prop("checked", false);
                checkCnt = 0;
            }
        });

        // 반납승인 버튼 클릭 시 사용승인 처리(POST 전송)
        use_check.on('click', function() {
            var dataArray = [];

            $("input[name=useCheckbox]:checked").each(function() {
                var $this = $(this);
                dataArray.push({managementNumber: $this.val()});
            });
            dataArray = JSON.stringify(dataArray);

            $.ajax({
                type: "POST",
                url: '/tool_use_approval',
                headers: {
                    "Content-Type": "application/json"
                },                
                data: dataArray
            });
            location.href = "/admin/tool/mobile_use_check";   
        });

        // 반납반려 버튼 클릭 시 사용반려 처리(POST 전송)
        use_refuse.on('click', function() {
            var refuseArray = [];

            $("input[name=useCheckbox]:checked").each(function() {
                var $this = $(this);
                refuseArray.push({managementNumber: $this.val()});
            });
            refuseArray = JSON.stringify(refuseArray);

            $.ajax({
                type: "POST",
                url: '/tool_use_refuse',
                headers: {
                    "Content-Type": "application/json"
                },                
                data: refuseArray
            });
            location.href = "/admin/tool/mobile_use_check";   
        });
    });
});
</script>
</html>