<%- include('../../common/adminheader.ejs') %>
<title>공통코드 수정 페이지 - 테스트용 사이트</title>

<div class="admin_body">
    <div class="admin_content">
        <div class="admin_contentwrap">
            <h1>공통코드 수정</h1>          
            <form method="POST" action="/code_update" onsubmit="return contentsCheck();">
                <%
                    var data = codeOne;
                %>
                <div class="write_table addBtn" style="border-top: 1px solid #c3c4c7; border-left:1px solid #c3c4c7; border-right: 1px solid #c3c4c7; border-bottom: none;">
                    <div class="write_table_div">
                        <div class="write_table_div1">
                            <span>코드명</span>
                        </div>
                        <div class="write_table_div2_modify">
                            <span><%= data.codeName %></span>
                            <input type="text" name="codeName" value="<%= data.codeName %>" style="display: none;">
                        </div>
                        <div class="write_table_div3">
                            
                        </div>
                    </div>
                    <div class="message_table_div">
                        <div class="message_table_div1">
                        
                        </div>
                        <div class="message_table_div2">
                            <span></span>
                        </div>
                        <div class="message_table_div3">
                        
                        </div>
                    </div>
                    <%
                    if(Array.isArray(data.codeOption) == true) {
                        for(var i = 0; i < data.codeOption.length; i++) {                                          
                    %>
                    <div class="write_table_div">
                        <div class="write_table_div1">
                            <span>
                                <%
                                if(i == 0) {
                                %>
                                    코드항목
                                <%    
                                }
                                %>
                            </span>
                        </div>
                        <div class="write_table_div2">
                            <% 
                            if(i == 0) {
                            %>
                            <input type="text" id="codeOption" name="codeOption" value="<%= data.codeOption[i] %>">
                            <input type="button" class="btnAdd" value="추가">
                            <%
                            }else {
                            %>
                            <input type="text" name="codeOption" value="<%= data.codeOption[i] %>">
                            <input type="button" class="btnRemove" value="삭제">
                            <%    
                            }
                            %>
                        </div>
                        <div class="write_table_div3">
                            
                        </div>
                    </div>
                    <%
                        }
                    }else {
                    %>
                    <div class="write_table_div">
                        <div class="write_table_div1">
                            <span>코드항목</span>
                        </div>
                        <div class="write_table_div2">
                            <input type="text" name="codeOption" value="<%= data.codeOption %>">
                            <input type="button" class="btnAdd" value="추가">
                        </div>
                        <div class="write_table_div3">
                            
                        </div>
                    </div>                    
                    <%    
                    }
                    %>
                    <div class="write_table_div" style="display: none;">
                        <div class="write_table_div1">
                            <span>수정자명</span>
                        </div>
                        <div class="write_table_div2">
                            <input type="text" name="modifier" value="<%= loginMember.name %>">
                        </div>
                        <div class="write_table_div3">
                            
                        </div>
                    </div>
                    <div class="write_table_div" style="display: none;">
                        <div class="write_table_div1">
                            <span>수정일</span>
                        </div>
                        <div class="write_table_div2">
                            <input type="text" id="modifydate" name="modifydate" value="">
                        </div>
                        <div class="write_table_div3">
                            
                        </div>
                    </div>
                </div>
                <div class="write_table_btn" style="width: 1198px; background: #FFF; border-left: 1px solid #c3c4c7; border-right: 1px solid #c3c4c7;">
                    <input type="submit" value="수정" style="margin-left: 30px; margin-bottom: 30px;"/>
                    <a href="/admin/code" style="margin-bottom: 30px;">
                        <span>돌아가기</span>
                    </a>
                </div>
                <div style="font-size: 12px; background-color: #FFF; width: 1168px; border-left: 1px solid #c3c4c7;
                border-right: 1px solid #c3c4c7; border-bottom: 1px solid #c3c4c7; padding-left: 30px;
                padding-bottom: 50px;">작성자: <%= data.writer %> / 작성일: <%= data.date %> / 수정자: <%= data.modifier %> / 수정일: <%= data.modifydate %></div>
            </form>
        </div>
    </div>
</div>
<script type="text/JavaScript">
// 필수사항 입력 체크 함수    
function contentsCheck() {
    var codeName = $('#codeName').val();
    var codeOption = $('#codeOption').val();
    if(codeName == "" || codeOption == "") {
        alert('필수항목을 입력해주세요.');
        return false;
    }
}
$(function() {
    $(function init() {  
        // 수정일 오늘 날짜 자동기입
        $('#modifydate').attr('value', todayDate());
        
        function btnRemove() {
            // 입력 컬럼 삭제
            $('.btnRemove').on('click', function() { 
                var $this = $(this);
                $this.parent().prev().parent().remove();
            });
        }

        // 입력 컬럼 추가
        $('.btnAdd').click(function() {                                        
            $('.addBtn').append('<div class="write_table_div"><div class="write_table_div1">'+
                '<span></span></div><div class="write_table_div2"><input type="text" name="codeOption" value="">'+
                    '<input type="button" class="btnRemove" value="삭제"></div><div class="write_table_div3"></div></div>'                 
            ); // end append    
            btnRemove();                                  
        }); 
        btnRemove();
    });
});   
</script>
<%- include('../../common/adminfooter.ejs') %>